<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' placeholder="scheme number" [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class='table' *ngIf='schemes && schemes.length'>
                <thead>
                    <tr>
                        <th>Scheme name</th>
                        <th>Scheme number</th>
                        <th>Start date</th>
                        <th>Industry</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#scheme of schemes | schemeFilter:listFilter'>
                        <td> 
                         <a [routerLink]="['Members',{id: scheme.scheme.caseKey}]">
                          {{scheme.schemeName}}
                          </a>
                        </td>
                        <td>{{scheme.scheme.schemeNo}}</td>
                        <td>{{scheme.startDate}}</td>
                        <td>{{scheme.industry}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>